@import 'default';
$main_color: #49BEB7;

@mixin o1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin o2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin o3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin o4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@mixin sha {
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
  -webkit-box-shadow: 0 0 10px rgba($color: #000000, $alpha: .16);
}

// end default css -----------------------------------------------------

article {
  padding-top: 60px;
}

.menu {
  z-index: 1000;
  position: relative;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 15px;

  &.down {
    @include sha;
    background: white;
    border: 0;

    .main-menu {
      background: none;
    }
  }

  .main-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 200px);
    margin: auto;
    background: #e1e1e1;

    .logo {
      width: 250px;
      background: white;
      height: 60px;
      position: relative;

      &::before {
        content: '';
        background: white;
        width: 1000px;
        height: 60px;
        position: absolute;
        top: 0;
        right: 100%;
      }
      
      a {
        line-height: 60px;
        font-weight: bold;
      }
    }

    .nav {
      display: block;
      width: calc(100% - 500px);
      padding-left: 35px;

      li {
        -webkit-transition: .5s;
        transition: .5s;
        display: inline-block;
        padding: 17px 0;
        position: relative;

        &:hover {

          ul, .sub-menu {
            -webkit-transform: none;
                    transform: none;
            opacity: 1;
            visibility: initial;
            -webkit-transition: .3s;
            transition: .3s;
            
            li, .sub-menu-item  {
              display: block;
            }
          }
        }

        ul {
          position: absolute;
          width: 300px;
          left: 0;
          top: 60px;
          @include sha;
          border: 0;
          text-align: left;
          -webkit-transform: translateY(40px);
                  transform: translateY(40px);
          opacity: 0;
          visibility: hidden;
          -webkit-transition: .3s;
          transition: .3s;
          
          li {
            padding: 0;
            display: none;

            a {
              font-weight: 400;
              text-transform: initial;
              font-size: 14px;
              color: #444444;
              padding: 10px 20px;
              display: block;
              width: 299px;
              border-bottom: 1px solid #f4f4f4;

              &:hover {
                color: white;
                background: $main_color;
              }
            }
          }
        }

        .active {
          color: $main_color;
        }

        a {
          font-weight: 500;
          font-size: 14px;
          -webkit-transition: .3s;
          transition: .3s;
          color: black;
          padding: 0;
          display: initial;
          padding: 30px 15px;

          &:hover {
            color: $main_color;
          }

          i {
            font-size: 20px;
            -webkit-transform: translateY(1px);
            transform: translateY(1px);
            display: inline-block;
            margin: -5px 0;
            margin-left: 5px;
          }
        }

      }
    }
    
    .search {
      margin: 10px 0;
      width: 250px;
      position: relative;
      height: 30px;
      padding-right: 15px;
      
      input {
        width: 100%;
        height: 30px;
        background: none;
        border: 0;
        border-bottom: 1px solid #999;
        color: #555555;

        &:focus {
          -webkit-box-shadow: none;
                  box-shadow: none;
          border: 0;
          outline: none;
          border-bottom: 1px solid $main_color;
        }
      }

      button {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 20px;
        color: #555;
        background: none;
        border: 0;
        cursor: pointer;
        -webkit-transition: .3s;
        transition: .3s;

        &:hover {
          color: $main_color;
        }
      }
    }
  }
}

.article-top {
  width: calc(100% - 200px);
  margin: auto!important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .category-home {
    width: 330px;
    background: $main_color;
    border: 30px solid white;
    border-left: 0;
    margin-right: -60px;
    position: relative;
    z-index: 10;
    height: 32vw;
    overflow: hidden;

    &.active {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
    }

    ul {
      padding: 40px 20px;

      li {
        position: relative;
        padding: 10px 0;

        a {
          color: white;
          @include o1;

          &:hover {
            color: black;
          }
        }

      }

      .more, .less {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: $main_color;
        color: black;
        padding: 0 20px;
        cursor: pointer;
        -webkit-transition: .3s;
        transition: .3s;
        line-height: 50px;

        &:hover {
          letter-spacing: .1em;
        }

        i {
          font-size: 16px;
          padding-right: 5px;
        }
      }
    }
  }

  .slider {
    width: calc(100% - 270px);
  }
}

.service-bonus {
  margin-top: 20px;
  margin-bottom: 50px;

  .box-service-bonus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    img {
      width: 50px;
      height: 50px;
    }

    &-detail {
      width: calc(100% - 70px);
      margin-left: 20px;

      h4 {
        font-weight: 600;
        margin-bottom: 5px;
      }

      h5 {
        color: #585858;
      }
    }
  }
}

.category-mid {
  width: calc(100% - 200px);
  margin: auto!important;

  .category-zone {
    padding: 50px;
    background: #e1e1e1;
    display: grid;
    grid-template-areas: 
    "cate1 cate2 cate2 cate3"
    "cate1 cate4 cate5 cate5";
    grid-gap: 20px;
    height: calc(100vw / 2 - 70px);

    .box-cate {
      -webkit-transition: .5s;
      transition: .5s;
      position: relative;
      overflow: hidden;

      img {
        -webkit-transition: .5s;
        transition: .5s;
        width: 100%;
      }
      a {
        display: block;

        &:hover {
          &::before, &::after {
            -webkit-transform: none;
                    transform: none;
            width: 50%;
          }

          img {
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
          }
        }

        &::before, &::after {
          content: '';
          width: 100%;
          height: 200%;
          position: absolute;
          top: 0;
          z-index: 1;
          background: rgba($color: $main_color, $alpha: .1);
          -webkit-transition: .5s;
          transition: .5s;
        }
    
        &::before {
          left: 0;
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%);
        }
    
        &::after {
          right: 0;
          -webkit-transform: translateX(100%);
                  transform: translateX(100%);
        }
      }

      
      &.cate1 {
        grid-area: cate1;
      }
      &.cate2 {
        grid-area: cate2;
      }
      &.cate3 {
        grid-area: cate3;
      }
      &.cate4 {
        grid-area: cate4;
      }
      &.cate5 {
        grid-area: cate5;
      }
    }
  }
}

.title-page {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  h3 {
    font-weight: bold;
    color: black;
    cursor: default;
    position: relative;
    z-index: 10;
    font-style: italic;
    width: 100%;
    margin: 10px 0;
  }

  .left, .right {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
    position: relative;
  }

  .left{
    margin-right: 100px;

    &::before {
      content: '';
      background: $main_color;
      width: 30px;
      height: 30px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      position: absolute;
      right: -70px;
      top: -15px;
    }
  }

  .right{
    margin-left: 100px;

    &::before {
      content: '';
      background: $main_color;
      width: 30px;
      height: 30px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      position: absolute;
      left: -70px;
      top: -15px;
    }
  }
}

.slider {
  position: relative;
  margin-bottom: 15px;

  .owl-theme .owl-dots {
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-top: 0;

    .owl-dot {
      display: block;

      &.active {
        span {
          background: $main_color;
        }
      }

      span {
        width: 30px;
        height: 30px;
        margin: 5px 0;
        display: block;
        background: black;
        border-radius: 0;
        position: relative;
        color: white;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
} 

.product {
  margin-bottom: 50px;
  margin-top: 50px;

  .container {
    position: relative;
  }

  &-all {
    margin-top: 50px;
    text-align: center;

    a {
      border: 2px solid $main_color;
      color: $main_color;
      padding: 12px 30px;
      font-weight: 600;
      font-size: 14px;
      -webkit-box-shadow: 0 3px 6px rgba($color: $main_color, $alpha: .5);
              box-shadow: 0 3px 6px rgba($color: $main_color, $alpha: .5);

      &:hover {
        background: $main_color;
        color: white;
        border-color: $main_color;
        -webkit-box-shadow: 0 3px 10px rgba($color: $main_color, $alpha: .6);
                box-shadow: 0 3px 10px rgba($color: $main_color, $alpha: .6);
      }
    }
  }

  .swiper-container {
    margin: -10px;
    padding: 10px;

    .swiper-button-prev  {
      background-image: url('../img/left.png');
      width: 70px;
      height: 70px;
      background-size: cover;
      left: 0;
    
      &:hover {
        -webkit-filter: brightness(.7);
                filter: brightness(.7);
      }
    }
    
    .swiper-button-next {
      background-image: url('../img/right.png');
      width: 70px;
      height: 70px;
      background-size: cover;
      right: 0;
    
      &:hover {
        -webkit-filter: brightness(.7);
                filter: brightness(.7);
      }
    }
  }

}

.box-product {
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;

  &:hover {
    -webkit-box-shadow: 0 0 15px rgba($color: #000000, $alpha: .16);
            box-shadow: 0 0 15px rgba($color: #000000, $alpha: .16);

    .box-product-img-custom {
      opacity: 1;
    }
  }

  &-img {
    position: relative;
    height: 255px;
    overflow: hidden;
    margin-bottom: 15px;

    &:hover {
      img {
        -webkit-transform: translate(-50%, -50%) scale(1.2);
                transform: translate(-50%, -50%) scale(1.2);
      }
    }
    
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%;
      -webkit-transition: .3s;
      transition: .3s;
    }

    &-custom {
      position: absolute;
      z-index: 2;
      right: 10px;
      bottom: 10px;
      -webkit-transition: .3s;
      transition: .3s;
      opacity: 0;

      i {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        padding: 5px 9px;
        background: #e1e1e1;
        -webkit-transition: .3s;
        transition: .3s;
        color: black;

        &:hover {
          background: $main_color;
          color: white;
        }
      }
    }
  }

  &-detail {
    margin-bottom: 15px;
    padding: 0 10px;

    h6 {
      color: $main_color;
      font-size: 14px;
      @include o1;
    }

    h5{
      margin-bottom: 5px;

      a {
        @include o1;

        &:hover {
          color: $main_color;
        }
      }
    } 
  }
}

.contact-home {
  padding: 50px 0;
  background-image: url('../img/cleaning-washing-cleanup-the-ilo-48889.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  position: relative;
  color: white;

  &::before {
    content: '';
    background: rgba($color: $main_color, $alpha: .8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    position: relative;
    z-index: 10;
  }

  p {
    font-size: 20px;
    text-transform: uppercase; 
  }

  h3 {
    padding: 12px 20px;
    background: white;
    color: black;
    display: table;
    margin: auto;
    margin-bottom: 10px;
    font-weight: 600;
  }

  h5 {
    margin-top: 22px;

    a {
      padding: 12px 20px;
      background: black;
      text-transform: uppercase; 
    }
  }
}

.service {
  margin-bottom: 50px;

  .service-carousel {
    margin-top: 40px;

    .owl-stage-outer {
      margin: -20px;
      padding: 20px;
    }
  }

  .owl-theme .owl-nav {
    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: 47%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 70px;
      -webkit-transition: .3s;
      transition: .3s;
      color: black;

      &:hover {
        color: $main_color;
        background: none;
      }

      &:focus {
        outline: none;
      }
    }

    button.owl-prev {
      left: -15px;
    }

    button.owl-next {
      right: -15px;
    }
  }
}

.box-service {
  @include sha;
  border-radius: 5px;

  &-img {
    margin: -15px 15px 15px 15px;
    border-radius: 5px;
    overflow: hidden;

    &:hover img {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }

    img {
      border-radius: 5px;
      -webkit-transition: .3s;
      transition: .3s;
    }
  }

  &-detail {
    padding: 0 15px;
    margin-bottom: 30px;

    h4 {
      margin-bottom: 5px;

      a {
        font-weight: 600;
        @include o1;
      }
    }

    h5 {
      color: #585858;
      @include o2;
    }

    &-btn {
      margin-top: 30px;

      a {
        padding: 12px 20px;
        background: $main_color;
        color: white;
        text-transform: uppercase;
        -webkit-box-shadow: 0 3px 5px rgba($color: black, $alpha: .2);
                box-shadow: 0 3px 5px rgba($color: black, $alpha: .2);

        &:hover {
          -webkit-box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
                  box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
          color: white;
        }
      }
    }
  }
}

.product-page {
  margin-bottom: 10px;

  .container {
    display: grid;
    grid-template-columns: 250px calc(100% - 280px);
    grid-gap: 30px;
  }

  .left {
    .category {
      background: white;
      border: 1px solid $main_color;
      position: relative;
      margin-bottom: 30px;
  
      h4 {
        font-weight: 600;
        text-transform: uppercase;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        width: 100%;
        background: $main_color;
        color: white;
      }
  
      ul {
        padding: 15px;
        padding-bottom: 0;
        height: auto;
  
        li {
          display: block;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid #e1e1e1;
  
          &:last-child {
            margin-bottom: 0px;
          }
  
          a {
            @include o1;
            -webkit-transition: .3s;
            transition: .3s;
            color: #585858;
  
            &:hover {
              color: $main_color;
            }
          }
        }
      }
    }
  }

  .main {
    h3 {
      font-weight: 600;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    &-zone {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      margin-bottom: 20px;
    }

    .product-detail {
      &-1 {
        &-img {
          .xzoom-thumbs {
            margin-top: 10px;
            margin-bottom: 30px;
            padding: 0 25px;
            position: relative;

            img {
              width: auto;
              height: 80px;
            }
  
            .xzoom-gallery {
              &:hover {
                border-color: $main-color;
              }
            }
  
            .xactive {
              border-color: $main-color;
              -webkit-box-shadow: 0px 0px 3px 0px $main-color;
                      box-shadow: 0px 0px 3px 0px $main-color;
            }
  
            .owl-theme .owl-nav {
  
              button.owl-prev,
              button.owl-next {
                position: absolute;
                top: 40%;
                font-size: 30px;
                -webkit-transition: .5s;
                transition: .5s;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
  
                &:hover,
                &:focus {
                  color: $main-color;
                  background: none;
                  outline: none;
                }
              }
  
              button.owl-prev {
                left: -12%
              }
  
              button.owl-next {
                right: -12%
              }
            }
          }
        }
  
        &-detail {
          color: #585858;
          margin-bottom: 30px;
  
          h3 {
            font-weight: bold;
            margin-bottom: 5px;
            color: black;
          }

          p {
            color: #585858;
            margin-bottom: 10px;
          }
  
          h4 {
            color: $main-color;
            font-weight: bold;
            margin-bottom: 20px;
  
            span {
              color: #585858;
              font-weight: 400;
              text-decoration: line-through;
              margin-left: 30px;
            }
          }
  
          h5 {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #e1e1e1;
          }
  
          .quantity {
            a {
              padding: 15px 30px;
              background: $main_color;
              color: white;
              text-transform: uppercase;
              font-weight: 600;
              border: 2px solid $main_color;
              -webkit-transition: .3s;
              transition: .3s;
  
              &:hover {
                color: $main-color;
                background: none;
              }
            }
          }
        }
      }
  
      &-2 {
        &-title {
          .nav-tabs {
            border-bottom: 2px solid #383838;
            margin-bottom: 30px;
  
            .nav-item {
              margin-bottom: -2px;
  
              .nav-link {
                padding-bottom: 11px;
                border: none;
                border-bottom: 2px solid #383838;
                -webkit-transition: .5s;
                transition: .5s;
                font-weight: bold;
  
                &.active,
                &:hover {
                  background: none;
                  border: none;
                  border-bottom: 2px solid $main-color;
                  padding-bottom: 11px;
                  color: $main-color;
                }
              }
            }
          }
        }
      }
    }

    .similar {
      h2 {
        padding-top: 20px;
        margin-top: 40px;
        border-top: 2px solid #555555;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 30px;
      }
    }
  }
}

.service-page {
  margin-bottom: 20px;

  .service-zone {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .title-page h3 {
    font-style: initial;
    font-size: 24px;
  }

  .box-service {
    margin-bottom: 15px;
  }
}

.page-detail {
  margin-bottom: 40px;

  h2 {
    font-weight: 600;
    margin-bottom: 20px;
  }

  img {
    margin-bottom: 20px;
  }

  .title-page h3 {
    font-style: initial;
    font-size: 24px;
  }

  .similar {
    margin-top: 80px;

    .service-zone {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }

    &.service {
      background: none;
      padding: 0;
    }

    img {
      margin: 0;
    }
  }
}


// --------------------------------------------------------------------
@import 'media';
