extends _inc


block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Dịch vụ vệ sinh công nghiệp

  section.service-page.service
    .container
      .title-page
        h3 
          a Dịch vụ vệ sinh công nghiệp
      
      .service-zone
        .box-service
          .box-service-img
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html', title="Dịch vụ tổng vệ sinh")
                | Dịch vụ tổng vệ sinh
            h5 Ngày nay, khi xã hội ngày càng phát triển thì môi trường sống cũng được chú trọng và hoàn thiện hơn.
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                | Xem chi tiết
        
        .box-service
          .box-service-img
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html', title="Dịch vụ tổng vệ sinh")
                | Dịch vụ tổng vệ sinh
            h5 Ngày nay, khi xã hội ngày càng phát triển thì môi trường sống cũng được chú trọng và hoàn thiện hơn.
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                | Xem chi tiết
        
        .box-service
          .box-service-img
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html', title="Dịch vụ tổng vệ sinh")
                | Dịch vụ tổng vệ sinh
            h5 Ngày nay, khi xã hội ngày càng phát triển thì môi trường sống cũng được chú trọng và hoàn thiện hơn.
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                | Xem chi tiết
        
        .box-service
          .box-service-img
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
          .box-service-detail
            h4
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html', title="Dịch vụ tổng vệ sinh")
                | Dịch vụ tổng vệ sinh
            h5 Ngày nay, khi xã hội ngày càng phát triển thì môi trường sống cũng được chú trọng và hoàn thiện hơn.
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                | Xem chi tiết
        
        
      nav
        ul.pagination.justify-content-end
          li
            a.page-link(href='#', aria-label='Previous')
              span(aria-hidden='true') «
              span.sr-only Previous
          li
            a.page-link.active(href='#') 1
          li
            a.page-link(href='#') 2
          li
            a.page-link(href='#') 3
          li
            a.page-link(href='#', aria-label='Next')
              span(aria-hidden='true') »
              span.sr-only Next 
