extends _inc

block article
  section.article-top
    .category-home
      ul
        li
          a(href='san-pham.html') Máy chà sàn công nghiệp
        li
          a(href='san-pham.html') Máy chà sàn công nghiệp Cleantech
        li
          a(href='san-pham.html') Máy chà sàn liên hợp
        li
          a(href='san-pham.html') Máy chà sàn đơn, máy chà sàn tạ
        li
          a(href='san-pham.html') Máy chà sàn liên hợp ROMA
        li
          a(href='san-pham.html') Máy chà sàn công nghiệp
        li
          a(href='san-pham.html') Máy chà sàn công nghiệp Cleantech
        li
          a(href='san-pham.html') Máy chà sàn liên hợp
        li
          a(href='san-pham.html') Máy chà sàn đơn, máy chà sàn tạ
        li
          a(href='san-pham.html') Máy chà sàn liên hợp ROMA
        li
          a(href='san-pham.html') Máy chà sàn công nghiệp
        li
          a(href='san-pham.html') Máy chà sàn công nghiệp Cleantech

        li.more 
          i.mdi.mdi-plus
          | Hiển thị thêm danh mục
        li.less.d-none 
          i.mdi.mdi-minus
          | Ẩn bớt danh mục

    .slider
      .owl-carousel.slider-carousel.owl-theme
        .item
          a(href='chi-tiet-san-pham.html')
            img(src='../img/slider-1.png')
        
        .item
          a(href='chi-tiet-san-pham.html')
            img(src='../img/slider-1.png')    


  section.service-bonus
    .container
      .row
        .col-4
          .box-service-bonus
            img(src='../img/service-bonus-1.png')
            .box-service-bonus-detail
              h4 Bán hàng chính hãng giá rẻ
              h5 Bảo đảm hàng chính hãng 100%
        .col-4
          .box-service-bonus
            img(src='../img/service-bonus-2.png')
            .box-service-bonus-detail
              h4 Bảo hành dài hạn
              h5 Dịch vụ hậu mãi, bảo hành, bảo trì dài hạn.
        .col-4
          .box-service-bonus
            img(src='../img/service-bonus-3.png')
            .box-service-bonus-detail
              h4 Phục vụ tận tình, chuyên nghiệp
              h5 Hỗ trợ quý khách 24/7
        
  section.category-mid
    .category-zone
      .box-cate
        a(href='san-pham.html')
          img(src='../img/cate-1.png')
      .box-cate
        a(href='san-pham.html')
          img(src='../img/cate-2.png')
      .box-cate
        a(href='san-pham.html')
          img(src='../img/cate-3.png')
      .box-cate
        a(href='san-pham.html')
          img(src='../img/cate-4.png')
      .box-cate
        a(href='san-pham.html')
          img(src='../img/cate-5.png')
      

  section.product
    .container
      .title-page
        .left
        h3 Sản phẩm nổi bật
        .right
      

      .product-zone
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
      .product-all
        a(href='san-pham.html') Xem tất cả sản phẩm
